.mb {
  &-16 {
    margin-bottom: rem(16);
  }
  &-24 {
    margin-bottom: rem(24);
  }
  &-32 {
    margin-bottom: rem(32);
  }
  &-40 {
    margin-bottom: rem(40);
  }
  &-48 {
    margin-bottom: rem(48);
  }
  &-56 {
    margin-bottom: rem(56);
  }
}
