/* ==========================================================================
   #SECTION
   ========================================================================== */
.section {
	&__inner {
		//@include spacing-sides;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
}