/* ==========================================================================
   #THEME
   ========================================================================== */
.theme {
	&__dark {
		color: $color-light;

		a {
			&:not(.btn) {
				color: inherit;

				&:hover {
					color: inherit;
				}
			}

		}
	}

	&__light {

	}
}