/* ==========================================================================
   #SECTION
   ========================================================================== */

section {
	padding-bottom: var(--section-padding-bottom);
	width: 100%;
	max-width: 100%;

	&:first-of-type {
		padding-top: 0;
	}
}