//// Common colors 
$color-white: #ffffff;
$color-black: #000000;
$color-debug: #D6D0CC;
$color-disabled: #d1d8e0;

$color-primary: $color-black;
$color-light: $color-white;

//// Misc 
$color-body: $color-primary;
$color-background: $color-white;

$border-color: $color-black;

$color-base-link: $color-primary;
$color-base-link-hover: $color-primary;

$section-base-background: $color-white;